Package: ws.hbang.storealert
Name: StoreAlert
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Ask before opening iTunes/App Store
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq
Section: Tweaks
