<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>condensed</key>
			<true/>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>ws.hbang.storealert</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>64</integer>
			<key>label</key>
			<string>HASHBANG Productions</string>
			<key>user</key>
			<string>hbangws</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVELOPER</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Adam Demasi</string>
			<key>user</key>
			<string>hbkirb</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ICON</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Kyle Revony</string>
			<key>user</key>
			<string>krevony</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TRANSLATORS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>DE</string>
			<key>label</key>
			<string>Benno Krauss</string>
			<key>user</key>
			<string>bensge</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>FR</string>
			<key>label</key>
			<string>Hautebas Mathieu</string>
			<key>user</key>
			<string>matteyeux</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>NL</string>
			<key>label</key>
			<string>Timon Olsthoorn</string>
			<key>user</key>
			<string>tmnlsthrn</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>PL</string>
			<key>label</key>
			<string>Krzysztof Borek</string>
			<key>user</key>
			<string>krzysiek_borek</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>TR</string>
			<key>label</key>
			<string>MUS'AB</string>
			<key>user</key>
			<string>MusabEnesDost</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>ZH</string>
			<key>label</key>
			<string>ZGMF-X20A</string>
			<key>user</key>
			<string>zmfg_x20a</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EMAIL_SUPPORT_HEADER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>hb_sendSupportEmail</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>EMAIL_SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DONATE_FOOTER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>hb_openDonate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>DONATE</string>
		</dict>
	</array>
	<key>title</key>
	<string>About</string>
</dict>
</plist>
